

.rahul{
    background-color: antiquewhite;
}
.yadav{
    background-color: violet;
}
.work{
    background-color: cornsilk;
}
.rating{
    background-color: rgb(255, 202, 202);
}
.rao{
    background-color: rgb(234, 206, 170);
}
.hobby{
    background-color: azure;
}
.hob{
    background-color: rgb(220, 142, 47);
}